.user-name
{
    font-weight: bold;
    font-style: italic;
}
.user-avatar
{
    height: 10rem;
}
.user:hover
{
    opacity:0.7;
    cursor: pointer;
}

.user:hover .upload, .user:hover .delete
{
    opacity: 1;
}
.delete
{
    opacity:0;
}

.user-item
{
    cursor:pointer;
}
