<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Neword">

    <!-- Title Page-->
    <title>Theses Collection</title>
    <link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css">
    <link href="css/dashboard.css" rel="stylesheet">
    <!-- Bootstrap CSS-->
    <link href="vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">
    <link href="./css/addTheses.css" rel="stylesheet">
    <link href="./css/crew.css" rel="stylesheet">
<body class="row">
    <div class="col-12 main">
        <nav class="nav" style="width:100%">
            <a th:href="@{/user}" style="color:white">Utilisateurs</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <div>
                <img class="profile-img" src="images/avatar.png" alt="avatar">&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
            <select class="log-out">
                <option>Neword Orquel</option>
                <option>Deconnexion</option>
            </select>
        </nav>
        <h2 class="text-center mt-3">Les groupes</h2>
        <div class="row content mt-3">
            <div class="col-3 card text-center" th:each="${crew : $crews}" style="padding:.5rem;">
                <a th:href="@{/groupe/groupe/} + ${crew.groupeId}" style="color:black;cursor: pointer">
                <div class="card-title"><strong th:text="${crew.name}">Nom du groupe</strong></div>
                <div>
                    <strong>Pays: </strong><span th:text="${crew.country}">Cameroun</span><br>
                    <strong>Region: </strong><span th:text="${crew.region}">Extreme nord</span><br>
                    <strong>Chef: </strong><span th:text="${crew.admin}">Maurice Kamto</span><br>
                </div>
                </a>
            </div>
        </div>
        <button type="button" class="addButton btn btn-primary rounded-circle" data-toggle="modal" data-target="#addCrew">
            <i class="zmdi zmdi-plus zmdi-hc-2x"></i>
            </i>
        </button>
        <!--addCrew-->
        <div class=" modal fade" id="addCrew" tabindex="-1" role="dialog" >
            <div class="modal-dialog modal-dialog-centered role="document">
                <form class="add-these-form modal-content card text-center" enctype="multipart/form-data" method="post"
                    th:action="@{/these/add/create}">
                    <!-- user id -->
                    <input type="number" name="userId" th:value="${session.userId}" style="display:none">
                    <!-- user id -->
                    <div class="row pt-3">
                            <div class="form-group" style="width: 100%">
                                <span class='error' id="nameError"></span>
                                <input type="text" name="name" id="name" class="form-control" placeholder="Nom du groupe" />
                            </div>
        
                            <div class="form-group" style="width: 100%">
                                <span class='error' id="countryError"></span>
                                <input type="text" name="country" id="country" class="form-control" placeholder="Pays" />
                            </div>
                            <div class="form-group" style="width: 100%">
                                <span class='error' id="regionError"></span>
                                <input type="text" name="region" id="region" class="form-control" placeholder="Région" />
                            </div>
                            <div class="form-group">
                                <strong>Chef du groupe : </strong>
                                <select name="admin">
                                    <option th:each="user : ${users}" class="form-control" th:text="$user.name">Nounamo Patrick</option>
                                </select>
                               
                            </div>
                            <div class="form-group row form-button" style="width: 100%">
                                <div class="col-6">
                                    <button data-dismiss="modal" style="width:100%;" class="btn btn-danger">Cancel</button>
                                </div>
                                <div class="col-6">
                                    <button type="submit" id="submit" style="width:100%;" name="saveThese" class="btn btn-success">Valider</button>
                                </div>
                            </div>
                        </div>
        
                        </div>
                    </div>
                    </div>
                </form>
            </div>
        <!-- addCrew-->
    </div>
        <script src="./vendor/jquery/jquery.min.js"></script>
        <script src="./vendor/bootstrap-4.1/bootstrap.min.js"></script>
        <script src="./js/dashboard.js"></script>
        <script src="./js/showTheses.js"></script>
        <script src="./js/crew.js"></script>
</body>

</html>