<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Neword">

    <!-- Title Page-->
    <title>Theses Collection</title>
    <link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/dashboard.css" rel="stylesheet">
    <link href="css/user.css" rel="stylesheet">
    <!-- Bootstrap CSS-->
    <link href="vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">
    <link href="css/addTheses.css" rel="stylesheet">

<body class="row">
    <!-- sidebar-->
    <div class="col-1 sidebar">
        <div class="logo-div"><img alt="logo" class="logo" src="images/logo.png"></div>
        <div class="sidebar-items">
            <a href="/theses"><button id="thesesButton">Thèses</button></a>
            <a href="/users"><button id="usersLink">Utilisateurs</button></a>
            <a href="/stats"><button id="statsLink">Statistiques</button></a>
        </div>
    </div>
    <!-- sidebar-->
    <div class="col main">
<!--navigation -->
<nav class="nav" style="width:100%">
    <div>
        <img class="profile-img" src="images/avatar.png" alt="avatar">
    </div>
    <div class="dropdown show">
        <a th:text="${session.name}" class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
            data-toggle="dropdown" style="background-color:transparent;color:white" aria-haspopup="true" aria-expanded="false">
            Neword Newcom Orquel
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" th:href="@{/logOut}">Deconnexion</a>
        </div>
    </div>
</nav>
<!-- navigation -->
        <h3 class="text-center">Cameroun</h3>
        
        <div class="row justify-content-center content">
            <div class="col-3" th:each="user: ${users}">
               
                <div class="user card">
                    <div style="z-index: 1000;position: absolute;width: 100%" class="text-right delete ">
                            <div>
                                <input type="hidden" value="admin">
                            <a href="#1" class="btn btn-success updateRoleBtn" data-toggle="modal" data-target="#updateRole">
                                <i class="zmdi zmdi-edit"></i>
                            </a>
                            </div>
                        <a th:href="@{/user/delete/} + ${user.id}" class="btn btn-danger rounded-circle"><i class="zmdi zmdi-close" ></i></a></div>
                    <div class="profile-img-div">
                          <img class="card-img-top user-avatar" src="images/avatar.png" alt="User Avatar">
                    </div>
                    <div class="card-body">
                        <div class="card-text">
                            <strong>Nom: </strong><span>Neword Orquel</span>
                                        <br>
                            <strong>Email: </strong><span>newordn@gmail.com</span>
                                        <br>
                            <strong>Number: </strong><span>+237693063225</span>
                                        <br>
                            <strong>Pays: </strong><span>Cameroun</span>
                                        <br>
                            <strong>Region: </strong><span>Extreme nord</span>
                                        <br>
                            <strong>Université: </strong><span>Maroua</span>
                                        <br>
                            <strong>Faculté: </strong><span>Enspm</span>
                                        <br>
                            <strong>Permission: </strong><span>Enspm</span>
                            <br>
                        </div>
                    </div>
                </div>
            </div>

                    <button type="button" class="addButton btn btn-primary rounded-circle" data-toggle="modal" data-target="#addUserIntoCrew">
                        <i class="zmdi zmdi-plus zmdi-hc-2x"></i>
                        </i>
                    </button>
                    <!--addUserIntoCrew-->
                    <div class=" modal fade" id="addUserIntoCrew" tabindex="-1" role="dialog">
                        <div class="modal-dialog modal-dialog-centered role=" document">
                            <form class=" modal-content card text-center" style="padding:1rem;" method="post">
                                <div class="form-group row">
                                    <div class="col-6">
                                        <button data-dismiss="modal" style="width:100%;" class="btn btn-danger">Cancel</button>
                                    </div>
                                    <input type="number" style="display: none" name="groupeId" th:value="${session.groupeId}">
                                    <input type="text" name="usersId" id="usersId" value="" style="display:none">
                                    <div class="col-6">
                                        <button type="submit" id="submit" style="width:100%;"  class="btn btn-success">Valider</button>
                                    </div>
                                </div>
                                <ul class="list-group" >
                                    <li value="3" th:each=" user : ${users}" th:text="${user.name}" class="list-group-item user-item">
                                        Testing
                                    </li>
                                    <li value="5" th:each=" user : ${users}" th:text="${user.name}" class="list-group-item user-item">
                                        Testing
                                    </li><li value="9" th:each=" user : ${users}" th:text="${user.name}" class="list-group-item user-item">
                                        Testing
                                    </li><li th:each=" user : ${users}" th:text="${user.name}" class="list-group-item user-item">
                                        Testing
                                    </li>
                                </ul>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- addUserIntoCrew-->
        </div>

        <!-- update role-->
            <div class=" modal fade" id="updateRole" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-dialog-centered role=" document">
                    <form class=" modal-content card text-center" action="/user/update" style="padding:1rem;" method="get" id="updateRoleForm">
                        <h5>Permissions</h5>
                        <input type="number" style="display:none" id="updateRoleUserId" name="userId">
                        <select name="role" class="custom-select">
                            <option value="root" id="root">Super Administrateur</option>
                            <option value="admin" id="admin" active>Administrateur</option>
                            <option value="user" id="user">Utilisateur</option>
                        </select>
                        <div class="text-right">
                            <button class="btn btn-danger" type="button" data-dismiss="modal" >
                                <i class="zmdi zmdi-close"></i>
                            </button>
                            <button class="btn btn-success" id="confirmRoleAdding">
                                <i class="zmdi zmdi-check"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        <!-- update role-->

        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/bootstrap-4.1/popper.min.js"></script>
        <script src="vendor/bootstrap-4.1/bootstrap.min.js"></script>
        <script src="js/user.js"></script>
        
</body>

</html>